<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	  <!--
    <clear />
	  <add key="Eliassen.Nucleus.Net.Libs" value="https://pkgs.dev.azure.com/lightwellinc-clouddev/Lightwell-Nucleus/_packaging/Eliassen.Nucleus.Net.Libs/nuget/v3/index.json" />
    -->

    <!--
    <add key="Eliassen-Public-Libs" value="https://pkgs.dev.azure.com/lightwellinc-clouddev/_packaging/Eliassen-Public-Libs/nuget/v3/index.json" />
    -->
  </packageSources>
</configuration>