{
  "serverUrl" : "http://localhost:8080",
  "realm" : "master",
  "endpoints" : {
    "http://localhost:8080" : {
      "master" : {
        "clientId" : "admin-cli",
        "token" : "eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJ2dWYzTW1ZcFpmV211Q0x5UkFTR3JpUjZydV84WjVFYzJuUFpiTDVfNE5zIn0.eyJleHAiOjE3MDY1NDYwNjcsImlhdCI6MTcwNjU0NjAwNywianRpIjoiZDNlODliYzItZjdiOC00YjdlLTgyMTktY2QyZTk0OGNjMTQ3IiwiaXNzIjoiaHR0cDovL2xvY2FsaG9zdDo4MDgwL3JlYWxtcy9tYXN0ZXIiLCJzdWIiOiJjNjQwMmE2Ny00NmFlLTQxOTMtYTg4Mi0yOGQzYzcyNDY5YWIiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJhZG1pbi1jbGkiLCJzZXNzaW9uX3N0YXRlIjoiZTNkYTBlMDAtZDZlNS00MDQ4LWE4MDAtOGNlYTMwMzE5ZTcxIiwiYWNyIjoiMSIsInNjb3BlIjoicHJvZmlsZSBlbWFpbCIsInNpZCI6ImUzZGEwZTAwLWQ2ZTUtNDA0OC1hODAwLThjZWEzMDMxOWU3MSIsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwicHJlZmVycmVkX3VzZXJuYW1lIjoiYWRtaW4ifQ.gWyINOrIFqQqXQYJsUStHlocWY6kZ2W1wGjls8PY_HPKvGUIbB2w0h-xrNHx2rPzarAYawWkIT5RPkaTJvmoINDLnooUQ2oTv_flRCBUcElnAGFfrZGMbfLJ8IClH_CZV1Cho9iIqJWkji9CHj3NIZhT-RVz8L-mCe8qCB77p1CIzY8FaYh4eMkMFurr2PvFam18HGCkMuVWydnszYjeSBtySfYUc6rPG2by53vJUEtOzAlJ3ZRnf9I3NWbjQTkS1-APOkaaSctsABoZMtdZXPoxohdWWFcyF-gYA5YqK_rZB0Rbmq49TEr-zDOBc6qOjbnmjO5F8S707tgrcDiuWA",
        "refreshToken" : "eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJlOTY4M2I2MS00MTE4LTRlZWEtYjgzYi1mZTRmZGViZGNmMGUifQ.eyJleHAiOjE3MDY1NDc4MDcsImlhdCI6MTcwNjU0NjAwNywianRpIjoiN2Q1NDc2YTQtYmQ1My00OWI4LTkxMTMtZTdhNzBmODgzZTdiIiwiaXNzIjoiaHR0cDovL2xvY2FsaG9zdDo4MDgwL3JlYWxtcy9tYXN0ZXIiLCJhdWQiOiJodHRwOi8vbG9jYWxob3N0OjgwODAvcmVhbG1zL21hc3RlciIsInN1YiI6ImM2NDAyYTY3LTQ2YWUtNDE5My1hODgyLTI4ZDNjNzI0NjlhYiIsInR5cCI6IlJlZnJlc2giLCJhenAiOiJhZG1pbi1jbGkiLCJzZXNzaW9uX3N0YXRlIjoiZTNkYTBlMDAtZDZlNS00MDQ4LWE4MDAtOGNlYTMwMzE5ZTcxIiwic2NvcGUiOiJwcm9maWxlIGVtYWlsIiwic2lkIjoiZTNkYTBlMDAtZDZlNS00MDQ4LWE4MDAtOGNlYTMwMzE5ZTcxIn0.5Rhw2xWBW-T_82wxzbeZZzPLi_cxkEabdGcvanCCpU4",
        "grantTypeForAuthentication" : "password",
        "expiresAt" : 1706546067961,
        "refreshExpiresAt" : 1706547807961
      }
    }
  }
}