{
  "serverUrl" : "http://localhost:8080",
  "realm" : "master",
  "endpoints" : {
    "http://localhost:8080" : {
      "master" : {
        "clientId" : "admin-cli",
        "token" : "eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJVMkktMzlPQThNUlNGSW9ReUw4T2lVc1ZsVTJzdE9JdUxoSkNiTklyRWFVIn0.eyJleHAiOjE3MDY1NDc3NjYsImlhdCI6MTcwNjU0NzcwNiwianRpIjoiZjI4Mjk5NDEtNmY3Mi00NDdiLTk1ZjEtOTU2ODIyN2RlZGUxIiwiaXNzIjoiaHR0cDovL2xvY2FsaG9zdDo4MDgwL3JlYWxtcy9tYXN0ZXIiLCJzdWIiOiJkYjllM2E5Zi1lOGI5LTRhZjktODQ5Ny0wM2I1NTBiMjkxYmUiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJhZG1pbi1jbGkiLCJzZXNzaW9uX3N0YXRlIjoiMWIwMGI0NzQtY2Q4Yi00ODQxLTkxY2QtYjI3MTY1N2RiMGFjIiwiYWNyIjoiMSIsInNjb3BlIjoicHJvZmlsZSBlbWFpbCIsInNpZCI6IjFiMDBiNDc0LWNkOGItNDg0MS05MWNkLWIyNzE2NTdkYjBhYyIsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwicHJlZmVycmVkX3VzZXJuYW1lIjoiYWRtaW4ifQ.qOu76cvvnHGF5l9XNa7qdA6ffp1C-YnvVvxxaYCYHUK9ykV5eYG_lJtGejm16FI4LUheQ-nXglXg79P-GN2BzgpcPlK-MwYLnbchgWFB01hceMZYpRqw_OAgnuKkMMy7lpbw_FFEHe8ctaxaog-iPwTQlpcyv750Wa_9xpvr_FFunc7U1F0z16XRFnkX9nm6r7Jbsulmt0Sx0hgAf10ZXHWMhI_AC3OXotFaidz_oDrzQDPjMF9pps5V0JixnfGzFZmoGqi5OYUtYjpefioSr_uzxjBRBK7akG71loTjCYEFK7hNhHcW42oW8PRvmFahXGpSk5e7XMDIGsUz9gsZ4A",
        "refreshToken" : "eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI5MGIxNGUzYS04M2UwLTQxNjEtYjdmNy1jZDM3YzNhMDk5YzEifQ.eyJleHAiOjE3MDY1NDk1MDYsImlhdCI6MTcwNjU0NzcwNiwianRpIjoiZWM1OGE1NGItNDk0OC00NmJhLWIxOGMtZjZhNTk2YWFjMzUwIiwiaXNzIjoiaHR0cDovL2xvY2FsaG9zdDo4MDgwL3JlYWxtcy9tYXN0ZXIiLCJhdWQiOiJodHRwOi8vbG9jYWxob3N0OjgwODAvcmVhbG1zL21hc3RlciIsInN1YiI6ImRiOWUzYTlmLWU4YjktNGFmOS04NDk3LTAzYjU1MGIyOTFiZSIsInR5cCI6IlJlZnJlc2giLCJhenAiOiJhZG1pbi1jbGkiLCJzZXNzaW9uX3N0YXRlIjoiMWIwMGI0NzQtY2Q4Yi00ODQxLTkxY2QtYjI3MTY1N2RiMGFjIiwic2NvcGUiOiJwcm9maWxlIGVtYWlsIiwic2lkIjoiMWIwMGI0NzQtY2Q4Yi00ODQxLTkxY2QtYjI3MTY1N2RiMGFjIn0.M_JgKNAjQxC-yRBu5L7uXJYv9u-B9YmkwMkEOpibCYc",
        "grantTypeForAuthentication" : "password",
        "expiresAt" : 1706547766952,
        "refreshExpiresAt" : 1706549506952
      }
    }
  }
}