<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <!-- <clear /> -->
    <!-- get packages from the NuGet Gallery -->
    <add key="local-packages" value="D:\packages\nuget" />
  </packageSources>
</configuration>